<% @title = "<b>管理者トップページ</b>" %>
<%# html_safe でタグを使えるようにする %>
<h1><%= @title.html_safe %></h1>
<%# rawメソッドを使うとタグをそのまま使える %>
<% @title = "<i>管理者トップページ</i>" %>
<h1><%= raw(@title) %></h1>
<%# 何もしなければ、タグはサニタイズされて文字列として扱われる %>
<% @title = "<i>管理者トップページ</i>" %>
<h1><%= @title %></h1>
